In [1]:
import pandas as pd
import gensim
import pprint
from gensim import corpora
from gensim.utils import simple_preprocess

In [2]:
og_df = pd.read_pickle("News_ds_cleaned.pkl")

## Making a df with relevant entries

In [3]:
## Conjoin categories which are essentially the same, just different names; specifically
## "PARENTS" and "PARENTING"  |  "WELLNESS" and "HEALTY LIVING"
#og_df.loc[og_df.category == "PARENTS", 'category'] = "PARENTING"
#og_df.loc[og_df.category == "HEALTHY LIVING", 'category'] = "WELLNESS"

In [4]:
## create new df with only categories we want
curated_cats = ["POLITICS", "WELLNESS", "ENTERTAINMENT", "TRAVEL", "PARENTING", "STYLE & BEAUTY",
                "QUEER VOICES", "FOOD & DRINK", "BUSINESS", "SPORTS", "BLACK VOICES", "WORLD NEWS"]

df = og_df.loc[og_df['category'].isin(curated_cats)]

In [5]:
## drop entries where headline/short_description ends up null
df = df[df['short_description_cleaned'].notna()]
df = df[df['headline_cleaned'].notna()]

In [6]:
df.head(2)

,link,headline,category,short_description,authors,date,headline_cleaned,short_description_cleaned,headline_cleaned_withsw,short_description_cleaned_withsw
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23,funny tweet parent week sept. 17 23,accidentally put grow toothpaste toddler tooth...,the funny tweet from parent this week sept. 17 23,accidentally put grow up toothpaste on my todd...
7,https://www.huffpost.com/entry/puerto-rico-wat...,Puerto Ricans Desperate For Water After Hurric...,WORLD NEWS,More than half a million people remained witho...,"DÁNICA COTO, AP",2022-09-22,puerto ricans desperate water hurricane fiona ...,half million people remain without water servi...,puerto ricans desperate for water after hurric...,more than half a million people remain without...

In [7]:
## reset the indices
## Need this in order to accurately match the rows in this df with their if-tdf vectors
df = df.reset_index(drop=True)

## drop the second column of indices
#df.drop('Unnamed: 0', axis=1, inplace=True)

In [8]:
## create new column with two cleaned cells concatenated
df['cleaned_words'] = df['headline_cleaned'] + ' ' + df['short_description_cleaned']
df['cleaned_words_withsw'] = df['headline_cleaned_withsw'] + ' ' + df['short_description_cleaned_withsw']
df=df[df['cleaned_words']!=' ']

In [9]:
df.head(2)

,link,headline,category,short_description,authors,date,headline_cleaned,short_description_cleaned,headline_cleaned_withsw,short_description_cleaned_withsw,cleaned_words,cleaned_words_withsw
0,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23,funny tweet parent week sept. 17 23,accidentally put grow toothpaste toddler tooth...,the funny tweet from parent this week sept. 17 23,accidentally put grow up toothpaste on my todd...,funny tweet parent week sept. 17 23 accidental...,the funny tweet from parent this week sept. 17...
1,https://www.huffpost.com/entry/puerto-rico-wat...,Puerto Ricans Desperate For Water After Hurric...,WORLD NEWS,More than half a million people remained witho...,"DÁNICA COTO, AP",2022-09-22,puerto ricans desperate water hurricane fiona ...,half million people remain without water servi...,puerto ricans desperate for water after hurric...,more than half a million people remain without...,puerto ricans desperate water hurricane fiona ...,puerto ricans desperate for water after hurric...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131019 entries, 0 to 131022
Data columns (total 12 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   link                              131019 non-null  object
 1   headline                          131019 non-null  object
 2   category                          131019 non-null  object
 3   short_description                 131019 non-null  object
 4   authors                           131019 non-null  object
 5   date                              131019 non-null  datetime64[ns]
 6   headline_cleaned                  131019 non-null  object
 7   short_description_cleaned         131019 non-null  object
 8   headline_cleaned_withsw           131019 non-null  object
 9   short_description_cleaned_withsw  131019 non-null  object
 10  cleaned_words                     131019 non-null  object
 11  cleaned_words_withsw              131019 non-null  object
dtypes: datetime64[ns](1), object(11)
memory usage: 13.0+ MB

In [11]:
 df.groupby("category").count().sort_values(by=["link"])

,link,headline,short_description,authors,date,headline_cleaned,short_description_cleaned,headline_cleaned_withsw,short_description_cleaned_withsw,cleaned_words,cleaned_words_withsw
category,,,,,,,,,,,
WORLD NEWS,3299,3299,3299,3299,3299,3299,3299,3299,3299,3299,3299
BLACK VOICES,4583,4583,4583,4583,4583,4583,4583,4583,4583,4583,4583
SPORTS,5077,5077,5077,5077,5077,5077,5077,5077,5077,5077,5077
BUSINESS,5990,5990,5990,5990,5990,5990,5990,5990,5990,5990,5990
FOOD & DRINK,6340,6340,6340,6340,6340,6340,6340,6340,6340,6340,6340
QUEER VOICES,6344,6344,6344,6344,6344,6344,6344,6344,6344,6344,6344
PARENTING,8790,8790,8790,8790,8790,8790,8790,8790,8790,8790,8790
STYLE & BEAUTY,9807,9807,9807,9807,9807,9807,9807,9807,9807,9807,9807
TRAVEL,9900,9900,9900,9900,9900,9900,9900,9900,9900,9900,9900
ENTERTAINMENT,17361,17361,17361,17361,17361,17361,17361,17361,17361,17361,17361
WELLNESS,17941,17941,17941,17941,17941,17941,17941,17941,17941,17941,17941
POLITICS,35587,35587,35587,35587,35587,35587,35587,35587,35587,35587,35587

In [12]:
## rename single word columns in df 
## (it causes problems if one of the words from text is same as another column name)
df = df.rename(columns={"link":"link_col", 
                        "headline":"headline_col", 
                        "category":"category_col",
                        "authors":"authors_col", 
                        "date":"date_col"})

In [13]:
## Train_test_split
from sklearn.model_selection import train_test_split

news_train, news_test = train_test_split(df,
                                         random_state = 546,
                                         shuffle = True,
                                         test_size = .2,
                                         stratify = df['category_col'])

In [14]:
## reset the indices
## Need this in order to accurately match the rows in this df with their if-tdf vectors
news_train = news_train.reset_index(drop=True)
news_test = news_test.reset_index(drop=True)

In [15]:
news_ttrain, news_tvalid = train_test_split(news_train,
                                         random_state = 305,
                                         shuffle = True,
                                         test_size = .2,
                                         stratify = news_train['category_col'])

In [16]:
news_ttrain.to_pickle('./news_ttrain.pkl')
news_tvalid.to_pickle('./news_tvalid.pkl')
news_train.to_pickle('./news_train.pkl') 
news_test.to_pickle('./news_test.pkl')